body {
  font-size: 13pt;
}

input[type=number] {
  font-size: 16px;
  transform: scale(0.8);
}

input[type=button],
input[type=reset] {
  background-color: skyblue;
}

input:hover,
button:hover {
  cursor: pointer;
}

.button {
  margin: 10px auto;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  color: blue;
}

.lead {
  font-size: 70%;
}

.mb {
  margin-bottom: 30px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  background-color: springgreen;
  padding: 10px;
  margin-top: 40px;
  font-size: 100%;
}