body {
  font-size: 13pt;
}

input[type=number] {
  font-size: 16px;
  transform: scale(0.8);
}

input[type=button], input[type=reset] {
  background-color: skyblue;
}

input:hover {
  cursor: pointer;
}

.button {
  margin: 10px auto;
  width: max-content;
}

a {
  text-decoration: none;
  color: blue;
}

.lead {
  font-size: 70%;
}

.mb {
  margin-bottom: 30px;
}

.container {
  width: max-content;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 4vw;
  background-color: springgreen;
}
